.destacados {
    &__bg {
        background: #EFEFEF; // height: 500px;
        // background-image: url("../../static/img/contact.png"), linear-gradient(#EFEFEF, #EFEFEF);
        // background-size: cover;
        // background-position: top top;
    }
    &__container {
        max-width: 1080px;
    }
    @media screen and(max-width: 991px) {
        &__bg {
            width: 100vw;
        }
    }
}
