.special {
    &__bg {
        background: #EFEFEF;
    }
    &__box_car {
        width: 100%;
    }
    &__container {
        max-width: 1080px;
    }
    &__col {
        flex: 0 0 50%;
        width: 100%;
        max-width: 50%;
        padding: 10px;
    }
    &__box-article {
        width: 100%;
        height: 290px;
        border: 1px solid #CECECEEF;
        background: white;
        padding: 15px;
    }
    &__box-article-bg {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        object-fit: cover;
    }
    &__img {
        width: 100%;
        height: auto;
        padding: 15px;
        object-fit: cover;
        margin-top: auto;
        margin-bottom: auto;
    }
    &__mini-product {
        object-fit: cover;
        border: 1px solid #CECECEEF;
        border-radius: 10px;
        width: 100%;
        height: 120px;
    }
    &__btn {
        font-size: 14px;
        color: $secondary;
        border: none;
        display: block;
        width: 100%;
        text-align: center;
        font-family: gordita-regular;
        font-weight: bold;
        padding: 10px;
        border-radius: 4px;
    }
    &__btn:hover {
        color: $primary;
        background: rgba(255, 214, 102, 0.1);
        transition: .5s all ease;
        border-radius: 4px;
    }
    &__title {
        font-family: gordita-regular;
        color: $secondary;
        padding: 20px;
    }
    @media screen and(max-width: 991px) {
        &__bg {
            width: 100vw;
        }
        &__img {
            padding: 10px;
        }
        &__mini-product {
            height: 100%;
            object-fit: cover;
        }
    }
    @media screen and(max-width: 767px) {
        &__col {
            flex: 0 0 100%;
            width: 100%;
            max-width: 100%;
            padding: 10px;
        }
        &__img {
            width: 100%;
            height: auto;
            padding: 15px;
            object-fit: cover;
        }
    }
    @media screen and(max-width: 575px) {
        &__box-article {
            flex-direction: column;
            height: auto;
        }
        &__col {
            padding-left: 0px;
            padding-right: 0px;
        }
        &__img {
            width: 100%;
            max-width: 150px;
            height: auto;
            object-fit: cover;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}
// tamaño del arrow
.carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
    width: 50px;
    height: 50px;
    opacity: 1;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 36px !important;
    height: 36px !important;
    border-radius: 50%;
    background: $primary;
    opacity: 1;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    bottom: 0;
    margin-top: auto;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 13%;
    color: #fff;
    text-align: center;
    height: 36px;
    margin-bottom: auto;
    width: auto;
    opacity: 1;
    transition: opacity .15s ease;
    border-radius: 50%;
}