.portada {
    &__bg {
        margin-top: 70px;
        width: 100%;
        height: 225px;
        background: url("../../static/img/bg-home.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__rbga {
        width: 100%;
        height: 100%;
        background: rgba(88, 89, 89, 0.2);
    }
    &__title {
        font-family: gordita-bold;
        color: white;
        font-size: 24.5px;
        letter-spacing: 1.1px;
    }
    &__parrafo {
        font-family: gordita-regular;
        color: white;
        font-size: 13.5px;
    }
    &__box-text {
        margin-top: 40px;
        height: 140px;
        max-width: 550px;
    }
    &__box-p-btn {
        margin-top: 30px;
    }
    &__btn {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        background: $primary;
        color: white;
        font-family: gordita-regular;
        font-size: 13px;
        border-radius: 4px;
    }
    &__btn:hover {
        background: #EA894CFF;
        color: white;
        transition: .5 all ease;
    }
    @media screen and(max-width: 991px) {
        &__rbga {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
        }
        &__bg {
            width: 100vw;
            margin-top: 70px;
            background: url("../../static/img/bg-home.png");
            background-position: right center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &__box-text {
            margin-top: 20px;
            height: 140px;
            max-width: 535px;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
        }
        &__box-p-btn {
            margin-top: 0px;
            text-align: center;
        }
        &__title {
            text-align: center
        }
    }
}