.footer {
    &__bg {
        background-image: url("../../static/img/contact.png"), linear-gradient(#EFEFEF, #EFEFEF);
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__container {
        max-width: 1080px !important;
    }
    &__title {
        color: white;
        font-family: gordita-regular;
        font-weight: bold;
    }
    &__font {
        font-family: gordita-regular;
        color: white;
    }
    &__box {
        padding-top: 250px;
        padding-left: 10px;
        padding-right: 10px;
    }
    &__box_2 {
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    &__inputs {
        font-family: gordita-regular;
        font-size: 14px;
        border: 1px solid white;
        border-radius: 7px;
        padding-bottom: 21px;
        height: 36px;
        padding-top: 21px;
        margin-top: 18px;
        margin-bottom: 18px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
        z-index: 10;
    }
    &__inputs:focus {
        border-color: 2px solid $primary !important;
        box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.06);
    }
    &__textarea {
        font-family: gordita-regular;
        font-size: 14px;
        border: 1px solid white;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
        margin-top: 18px;
        margin-bottom: 18px;
        min-height: 106px;
    }
    &__textarea:focus {
        border-color: 1px solid $primary !important;
        box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.06);
    }
    &__btn {
        border: 2px solid white !important;
        border-radius: 7px;
        margin-top: 18px;
        margin-bottom: 18px;
        height: 44px;
        box-shadow: none;
        padding-top: 10px;
        background: #fda168;
        color: white;
        font-family: gordita-regular;
        text-transform: none;
        z-index: 10;
    }
    &__btn:hover {
        background: white;
        color: #fda168;
        box-shadow: none;
        transition: .5s all ease;
    }
    &__btn:focus {
        background: white;
        color: #fda168;
        box-shadow: none;
    }
    &__img_lidera {
        width: 130px;
        height: 55px;
        margin-bottom: 15px;
    }
    &__img_nextscale {
        width: 100px;
        height: 20px;
        z-index: 10;
    }
    &__box_nextscale {
        width: auto;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        color: white;
        margin-top: 10px;
    }
    &__box_nextscale:hover {
        color: white !important;
        transform: scale(1.1);
        transition: .3s all ease;
    }
    &__parrafo {
        font-size: 13px;
    }
    &__title_ubi {
        font-weight: bold;
        text-align: center;
    }
    &__title_contac {
        font-weight: bold;
    }
    &__link {
        font-family: gordita-regular;
        font-size: 13px;
        color: #4C517AFF;
    }
    &__link:hover {
        color: #686FA0FF;
    }
    &__line-1 {
        height: 128px;
        border-left: 1px solid #4C517AFF;
        opacity: 0.5;
    }
    &__line-2 {
        height: 128px;
        border-right: 1px solid #4C517AFF;
        opacity: 0.5;
    }
    @media screen and(max-width: 991px) {
        &__line-2 {
            clip: rect(1px 1px 1px 1px);
            /* IE6, IE7 */
            clip: rect(1px, 1px, 1px, 1px);
            position: absolute;
        }
        &__bg {
            width: 100vw;
        }
    }
    @media screen and(max-width: 575px) {}
    @media screen and(max-width: 767px) {
        &__line-1 {
            clip: rect(1px 1px 1px 1px);
            /* IE6, IE7 */
            clip: rect(1px, 1px, 1px, 1px);
            position: absolute;
        }
        &__padding {
            padding-right: 0px;
            padding-left: 0px;
        }
    }
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: $primary;
    outline: 0;
}