.navbar {
    &__line_vertical {
        border-left: 1px solid #707070FF;
        height: 40px;
        width: 1px;
    }
    &__img-libera {
        width: 83px;
        height: 100%;
        object-fit: contain;
    }
    &__btn {
        border-radius: 4px;
        font-family: gordita-regular;
        font-size: 16px;
        color: #777777FF !important;
        width: 150px;
        align-content: center;
        text-align: center;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    &__btn:hover {
        background: #eeeeee;
        transition: 0.4s all ease;
    }
    &__form_search {
        width: 100%;
    }
    &__box-search {
        width: 100%;
        max-width: 550px;
    }
    &__search {
        font-family: gordita-regular;
        font-size: 14px;
        padding-left: 40px;
        border: 1px solid #707070FF;
        border-radius: 3px;
        padding-bottom: 6px;
        height: 36px;
    }
    &__search:focus {
        // color: #495057;
        // background-color: #fff;
        border: 2px $primary solid;
        box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.06);
    }
    &__search::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #ddd;
    }
    &__search:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #ddd;
        /* esto es porque Firefox le reduce la opacidad por defecto */
        opacity: 1;
    }
    &__search::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #ddd;
        opacity: 1;
    }
    &__search:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #ddd;
    }
    &__img-icon-search {
        position: absolute !important;
        left: 0px;
        top: 6px;
        padding: 3px 12px;
        opacity: 0.2;
        width: auto;
        height: 24px;
    }
    &__btn-acceder {
        background: $primary;
        font-family: gordita-regular;
        border-radius: 4px;
        color: white !important;
        white-space: nowrap;
        padding: 5px 7px;
        border: 1px solid $primary;
        font-size: 16px;
    }
    &__btn-cuenta {
        font-family: gordita-regular;
        border-radius: 4px;
        color: #777777FF !important;
        padding: 6px 7px;
        border: 1px;
        font-size: 16px;
    }
    &__btn-cuenta:hover {
        background: #eeeeee;
        transition: 0.4s all ease;
    }
    &__btn-acceder:hover {
        background: white;
        font-family: gordita-regular;
        border-radius: 4px;
        color: $primary !important;
        white-space: nowrap;
        border: 1px solid $primary;
        padding: 5px 7px;
        transition: 0.4s all ease;
    }
    &__circulo {
        width: 15px;
        height: 15px;
        margin: 10px;
        background: #777777FF;
        border-radius: 50%;
        white-space: nowrap;
        margin-top: auto;
        margin-bottom: auto;
    }
    &__border {
        border-bottom: 2px solid #E8E8E8FF;
    }
    &__font-item {
        font-family: gordita-regular;
        color: #606060FF !important;
    }
    &__box-item {
        width: 340px;
        left: 3.5px;
        top: 40px;
        border-radius: 0px;
        border-color: #E8E8E8FF;
    }
    &__hover-item:hover {
        background: #E8E8E8FF;
        transition: 0.4s all ease;
    }
    &__box-item-2 {
        clip: rect(1px 1px 1px 1px);
        /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute;
        top: -1px;
        right: -290px;
        height: auto;
    }
    &__box-item-li {
        float: none;
        width: 290px;
        background: white;
    }
    &__box-item-li:hover {
        background: #E8E8E8FF;
        transition: 0.4s all ease;
    }
    &__item-2 {
        font-family: gordita-regular;
        color: #606060FF !important;
    }
    &__hover-item-2:hover>&__box-item-2 {
        clip: inherit !important;
        height: 100%;
    }
    &__circulo-2 {
        width: 15px;
        height: 15px;
        margin: 10px;
        background: white;
        border-radius: 50%;
        border: 1.5px #777777FF solid;
        white-space: nowrap;
        margin-top: auto;
        margin-bottom: auto;
    }
    &__border-2 {
        border-bottom: 1px solid #E8E8E8FF;
        border-left: 2px solid #E8E8E8FF;
        border-right: 1px solid #E8E8E8FF;
        border-top: 1px solid #E8E8E8FF;
    } //Menu hamburgue animado
    &__toggler-icon-box {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    &__toggler-icon-line {
        width: 100%;
        height: 1px;
        border: 2px solid $primary;
        border-radius: 10px;
        transition: all .5 ease;
        transform: rotate(0deg);
        will-change: transform, opacity;
    }
    &__toggler-icon-line:nth-child(1) {
        position: absolute;
        top: 4px;
        opacity: 1;
        transition: .5s ease all;
    }
    &__toggler-icon-line:nth-child(4) {
        position: absolute;
        opacity: 1;
        bottom: 4px;
        transition: .5s ease all;
    }
    &__toggler-icon-line:nth-child(2) {
        position: absolute;
        opacity: 1;
        transition: .5s ease all;
    }
    &__toggler-icon-line:nth-child(3) {
        position: absolute;
        opacity: 1;
        transition: .5s ease all;
    } //active
    &__toggler-icon-active:nth-child(1) {
        position: absolute;
        top: 3px;
        opacity: 0;
        transition: .5s ease all;
    }
    &__toggler-icon-active:nth-child(4) {
        position: absolute;
        opacity: 0;
        bottom: 3px;
        transition: .5s ease all;
    }
    &__toggler-icon-active:nth-child(2) {
        position: absolute;
        opacity: 1;
        transform: rotate(45deg);
        transition: .5s ease all;
    }
    &__toggler-icon-active:nth-child(3) {
        position: absolute;
        opacity: 1;
        transform: rotate(-45deg);
        transition: .5s ease all;
    } //fin Menu hamburgue animado
    //login menu
    &__box-img-person {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 10px;
    }
    &__box-text-img {
        height: auto;
        width: auto;
        padding: 0px 15px;
    }
    &__img-person {
        width: 115px;
        height: 115px;
        padding: 15px 15px;
        object-fit: cover;
        border-radius: 50%;
    }
    &__container-login {
        width: 100%;
        max-width: 645px;
        margin: 0px auto;
        padding: 15px;
    }
    &__font-login {
        font-family: gordita-regular;
        color: $secondary;
    }
    &__primary {
        background: $primary;
        color: white;
    }
    &__gris {
        background: #eeeeee;
        color: $secondary;
    }
    &__primary:hover {
        background: $primary;
        color: white;
        box-shadow: none;
    }
    &__gris:hover {
        background: #eeeeee;
        color: $secondary;
        box-shadow: none;
    }
    &__primary:focus {
        background: $primary;
        color: white;
        box-shadow: none;
    }
    &__gris:focus {
        background: #eeeeee;
        color: $secondary;
        box-shadow: none;
    }
    &__btn-login {
        font-family: gordita-regular;
        font-weight: bold;
        box-shadow: none;
        border-radius: 5px;
        padding: 10px;
    }
    &__hipervinculo {
        padding: 10px 15px;
    }
    &__hipervinculo:hover {
        background: #eeeeee;
        color: $secondary;
    }
    @media screen and(max-width: 991px) {
        &__hidden {
            clip: rect(1px 1px 1px 1px);
            /* IE6, IE7 */
            clip: rect(1px, 1px, 1px, 1px);
            position: absolute;
            transform: translateX(-9999px);
        }
        &__img-libera {
            width: 87px;
        }
    }
    @media screen and(max-width: 576px) {
        &__img-libera {
            width: 75px;
        }
        &__login-title {
            font-size: 18px;
        }
        &__login-parrafo {
            font-size: 13px;
        }
        &__hipervinculo {
            padding: 10px 15px !important;
        }
        &__padding_zero {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    @media screen and(max-width: 350px) {
        &__img-person {
            width: 100px;
            height: 100px;
            padding: 10px;
            object-fit: cover;
            border-radius: 50%;
        }
        &__box-text-img {
            height: auto;
            width: auto;
            padding: 0px 0px 0px 0px;
        }
    }
    @media screen and(min-width: 991px) {
        &__box-login {
            clip: rect(1px 1px 1px 1px);
            /* IE6, IE7 */
            clip: rect(1px, 1px, 1px, 1px);
            position: absolute;
            transform: translateX(-9999px);
        }
    }
}
//search
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .455em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
// .navbar {
//     font-weight: 300;
//     -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0), 0 0px 0px 0 rgba(0, 0, 0, 0);
//     box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0), 0 0px 0px 0 rgba(0, 0, 0, 0);
// }