<div class="categ__bg">
	<div class="container__lidera categ__container">
		{{> ../../title/title-between.handlebars title="Las mejores categorías" subtitle="Ver todas"}}
		<div class="d-flex flex-wrap justify-content-center">
			<div class="categ__col ">
				<a class="categ__font">
					<div class="categ__box-article text-center d-flex flex-column">
					<span class="categ__font-icon"><i class="fas fa-bread-slice" class=""></i></span>
					
					<h6 class="categ__subtitle mt-auto mb-4">Alimentos Secos</h6>
					</div>
				</a>
			</div>
			<div class="categ__col ">
				<a class="categ__font">
					<div class="categ__box-article text-center d-flex flex-column">
					<span class="categ__font-icon"><i class="fas fa-cheese"></i></span>
					
					<h6 class="categ__subtitle mt-auto mb-4">Lácteos</h6>
					</div>
				</a>
			</div>
			<div class="categ__col ">
				<a class="categ__font">
					<div class="categ__box-article text-center d-flex flex-column">
					<span class="categ__font-icon"><i class="fas fa-ice-cream"></i></span>
					
					<h6 class="categ__subtitle mt-auto mb-4">Dulces</h6>
					</div>
				</a>
			</div>
			<div class="categ__col ">
				<a class="categ__font">
					<div class="categ__box-article text-center d-flex flex-column">
					<span class="categ__font-icon"><i class="fas fa-carrot"></i></span>
					
					<h6 class="categ__subtitle mt-auto mb-4">Verduras</h6>
					</div>
				</a>
			</div>
			<div class="categ__col ">
				<a class="categ__font">
					<div class="categ__box-article text-center d-flex flex-column">
					<span class="categ__font-icon"><i class="fas fa-apple-alt"></i></span>
					
					<h6 class="categ__subtitle mt-auto mb-4">Frutas</h6>
					</div>
				</a>
			</div>
			<div class="categ__col ">
				<a class="categ__font">
					<div class="categ__box-article text-center d-flex flex-column">
					<span class="categ__font-icon"><i class="fas fa-wine-glass-alt"></i></span>
					
					<h6 class="categ__subtitle mt-auto mb-4">Licores</h6>
					</div>
				</a>
			</div>
			<div class="categ__col ">
				<a class="categ__font">
					<div class="categ__box-article text-center d-flex flex-column">
					<span class="categ__font-icon"><i class="fas fa-drumstick-bite"></i></span>
					
					<h6 class="categ__subtitle mt-auto mb-4">Carnes</h6>
					</div>
				</a>
			</div>
			<div class="categ__col ">
				<a class="categ__font">
					<div class="categ__box-article text-center d-flex flex-column">
					<span class="categ__font-icon"><i class="fas fa-wine-bottle"></i></span>
					
					<h6 class="categ__subtitle mt-auto mb-4">Bebidas</h6>
					</div>
				</a>
			</div>
			<div class="categ__col ">
				<a class="categ__font">
					<div class="categ__box-article text-center d-flex flex-column">
					<span class="categ__font-icon"><i class="fas fa-gift"></i></span>
					
					<h6 class="categ__subtitle mt-auto mb-4">Importados</h6>
					</div>
				</a>
			</div>
			<div class="categ__col ">
				<a class="categ__font">
					<div class="categ__box-article text-center d-flex flex-column">
					<span class="categ__font-icon"><i class="fas fa-birthday-cake"></i></span>
					
					<h6 class="categ__subtitle mt-auto mb-4">Reposteria</h6>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>