<div class="special__bg">
	<div class="container__lidera special__container">
		{{> ../../title/title-between.handlebars title="Marcas especiales para ti" subtitle="Ver todas"}}
		
		<div class="special__box_car">
			<div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">

			  <!--Controls-->
				<a class="carousel-control-prev" href="#carousel-example-multi" role="button" data-slide="prev" id="traslate_prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
	 	 		</a>
				<a class="carousel-control-next" href="#carousel-example-multi" id="traslate_next" role="button" data-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				</a>
			  <!--/.Controls-->

				  <div class="carousel-inner" role="listbox">
				    <div class="carousel-item active d-flex flex-nowrap">
				    	<div class="special__col">
					        <div class="special__box-article d-flex flex-sm-nowrap">
					        	<div class="col-sm-4 col-md-4 col-lg-4  px-md-1 col-12">
					        		<div class="special__box-article-bg warning-color d-flex justify-content-center my-auto">
					        			<img src="static/img/Maizina-Americana.png" class="special__img" alt="">
					        		</div>
					        	</div>
					        	<div class="col-sm-8 col-md-8 col-lg-8 col-12 d-flex flex-column px-0">
					        		<h6 class="text-center special__title">Maizina America</h6>
					        		<div class="d-flex flex-nowrap my-sm-auto mx-auto">
					        			<div class="col-6 px-2">
					        				<img src="static/img/ImgP2.png" class="special__mini-product" alt="">
					        			</div>
					        			<div class="col-6 px-2">
					        				<img src="static/img/ImgP1.png" class="special__mini-product" alt="">
					        			</div>
					        		</div>
					        		<a class="align-self-end mt-auto special__btn" href="#">Ver todos los productos</a>
					        	</div>
					        </div>
				        </div>
				        <div class="special__col">
					        <div class="special__box-article d-flex flex-nowrap">
					        	<div class="col-sm-4 col-md-4 col-lg-4  px-md-1 col-12">
					        		<div class="special__box-article-bg danger-color d-flex justify-content-center my-auto">
					        			<img src="static/img/KIERO.png" class="special__img" alt="">
					        		</div>
					        	</div>
					        	<div class="col-sm-8 col-md-8 col-lg-8 col-12 d-flex flex-column px-0">
					        		<h6 class="text-center special__title">Kiero</h6>
					        		<div class="d-flex flex-nowrap mx-auto my-sm-auto">
					        			<div class="col-6 px-2">
					        				<img src="static/img/ImgP2.png" class="special__mini-product" alt="">
					        			</div>
					        			<div class="col-6 px-2">
					        				<img src="static/img/ImgP1.png" class="special__mini-product" alt="">
					        			</div>
					        		</div>
					        		<a class="align-self-end mt-auto special__btn" href="#">Ver todos los productos</a>
					        	</div>
					        </div>
				        </div>
				        <div class="special__col">
					        <div class="special__box-article d-flex flex-nowrap">
					        	<div class="col-sm-4 col-md-4 col-lg-4  px-md-1 col-12">
					        		<div class="special__box-article-bg success-color d-flex justify-content-center my-auto">
					        			<img src="static/img/NATURALYS.png" class="special__img" alt="">
					        		</div>
					        	</div>
					        	<div class="col-sm-8 col-md-8 col-lg-8 col-12 d-flex flex-column px-0">
					        		<h6 class="text-center special__title">Naturalista</h6>
					        		<div class="d-flex flex-nowrap mx-auto my-sm-auto">
					        			<div class="col-6 px-2">
					        				<img src="static/img/ImgP2.png" class="special__mini-product" alt="">
					        			</div>
					        			<div class="col-6 px-2">
					        				<img src="static/img/ImgP1.png" class="special__mini-product" alt="">
					        			</div>
					        		</div>
					        		<a class="align-self-end mt-auto special__btn" href="#">Ver todos los productos</a>
					        	</div>
					        </div>
				        </div>
						<div class="special__col">
					        <div class="special__box-article d-flex flex-sm-nowrap">
					        	<div class="col-sm-4 col-md-4 col-lg-4  px-md-1 col-12">
					        		<div class="special__box-article-bg warning-color d-flex justify-content-center my-auto">
					        			<img src="static/img/Maizina-Americana.png" class="special__img" alt="">
					        		</div>
					        	</div>
					        	<div class="col-sm-8 col-md-8 col-lg-8 col-12 d-flex flex-column px-0">
					        		<h6 class="text-center special__title">Maizina America</h6>
					        		<div class="d-flex flex-nowrap my-sm-auto mx-auto">
					        			<div class="col-6 px-2">
					        				<img src="static/img/ImgP2.png" class="special__mini-product" alt="">
					        			</div>
					        			<div class="col-6 px-2">
					        				<img src="static/img/ImgP1.png" class="special__mini-product" alt="">
					        			</div>
					        		</div>
					        		<a class="align-self-end mt-auto special__btn" href="#">Ver todos los productos</a>
					        	</div>
					        </div>
				        </div>
				        <div class="special__col">
					        <div class="special__box-article d-flex flex-nowrap">
					        	<div class="col-sm-4 col-md-4 col-lg-4  px-md-1 col-12">
					        		<div class="special__box-article-bg danger-color d-flex justify-content-center my-auto">
					        			<img src="static/img/KIERO.png" class="special__img" alt="">
					        		</div>
					        	</div>
					        	<div class="col-sm-8 col-md-8 col-lg-8 col-12 d-flex flex-column px-0">
					        		<h6 class="text-center special__title">Kiero</h6>
					        		<div class="d-flex flex-nowrap mx-auto my-sm-auto">
					        			<div class="col-6 px-2">
					        				<img src="static/img/ImgP2.png" class="special__mini-product" alt="">
					        			</div>
					        			<div class="col-6 px-2">
					        				<img src="static/img/ImgP1.png" class="special__mini-product" alt="">
					        			</div>
					        		</div>
					        		<a class="align-self-end mt-auto special__btn" href="#">Ver todos los productos</a>
					        	</div>
					        </div>
				        </div>
				        <div class="special__col">
					        <div class="special__box-article d-flex flex-nowrap">
					        	<div class="col-sm-4 col-md-4 col-lg-4  px-md-1 col-12">
					        		<div class="special__box-article-bg success-color d-flex justify-content-center my-auto">
					        			<img src="static/img/NATURALYS.png" class="special__img" alt="">
					        		</div>
					        	</div>
					        	<div class="col-sm-8 col-md-8 col-lg-8 col-12 d-flex flex-column px-0">
					        		<h6 class="text-center special__title">Naturalista</h6>
					        		<div class="d-flex flex-nowrap mx-auto my-sm-auto">
					        			<div class="col-6 px-2">
					        				<img src="static/img/ImgP2.png" class="special__mini-product" alt="">
					        			</div>
					        			<div class="col-6 px-2">
					        				<img src="static/img/ImgP1.png" class="special__mini-product" alt="">
					        			</div>
					        		</div>
					        		<a class="align-self-end mt-auto special__btn" href="#">Ver todos los productos</a>
					        	</div>
					        </div>
				        </div>
				     </div>
				  </div>

			  </div>

			</div>
		</div>

		</div>
	</div>
	
</div>
</div>
