<div class="destacados__bg">
	<div class="container__lidera destacados__container">
		{{> ../../title/title-between.handlebars title="Productos destacados" subtitle="" class_title="title__carrusel"}}

		{{> ../../carrusel/carrusel.handlebars class-carrusel__title="carrusel__title_destacados" class-carrusel__subtitle="carrusel__subtitle_destacados" class-carrusel__box-img="carrusel__box-img_destacados" class-carrusel__box="carrusel__box_destacados" class-carrusel__padding="carrusel__padding_destacados" class-cols="col-lg-3 col-md-4 col-sm-6 col-12" }}
	</div>
</div>