<div class="portada__bg">
	<div class="portada__rbga">
		<div class="container__lidera">
			<div class="portada__box-text">
				<h2 class="portada__title">¡Aprovecha nuestras ofertas semanales!</h2>
				
				<div class="d-flex flex-lg-nowrap flex-wrap portada__box-p-btn">
					<div class="col-lg-8 col-12 px-0">
						<p class="portada__parrafo">Tus productos favoritos los ponemos al alcance de tu mano en unos cuantos click</p>
					</div>
					<div class="col-lg-4 col-12 d-flex align-items-start px-0">
					<a href="#" class="portada__btn ml-lg-auto mx-auto mr-lg-1">Ofertas Disponibles</a>	
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>