.carrusel {
    &__bg {
        background: #EFEFEF;
    }
    &__box_destacados {
        height: 330px;
        background: white;
        border: 1px solid #DDDDDDEF;
        padding-top: 12px;
        padding-bottom: 30px;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 15px;
        box-shadow: 0px 0px 5px 1px #DDDDDDEF;
    }
    &__box-img_destacados {
        width: 170px;
        height: 120px;
        margin-right: auto;
        margin-left: auto;
        cursor: pointer;
    }
    &__title_destacados {
        font-family: gordita-regular;
        font-size: 16px;
        font-weight: bold;
        color: $secondary;
        margin-top: 30px;
    }
    &__subtitle_destacados {
        font-family: gordita-regular;
        font-weight: 200;
        font-size: 13px;
        color: $secondary;
        margin-top: 20px;
    }
    &__box_lista {
        height: 330px;
        background: white;
        border: 1px solid #DDDDDDEF;
        padding-top: 0px;
        padding-bottom: 25px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 15px;
        box-shadow: 0px 0px 5px 1px #DDDDDDEF;
    }
    &__box-img_lista {
        width: 120px;
        height: 150px;
        cursor: pointer;
    }
    &__title_lista {
        font-family: gordita-regular;
        font-size: 16px;
        font-weight: bold;
        color: $secondary;
        margin-top: 15px;
    }
    &__subtitle_lista {
        font-family: gordita-regular;
        font-weight: 200;
        font-size: 13px;
        color: $secondary;
        margin-top: 10px;
    }
    &__padding_lista {
        padding: 10px;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__btn_agregar {
        display: block;
        width: 100%;
        padding: 6px;
        background: $primary;
        text-align: center;
        color: white;
        border-radius: 5px;
        border: 1px solid $primary;
        margin-top: auto;
    }
    &__btn_agregar:hover {
        background: white;
        color: $primary;
        border: 1px solid $primary;
        transition: .4s ease all;
    }
    &__btn-show {
        clip: rect(1px 1px 1px 1px);
        /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute;
    }
    &__btn_otro {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 10px;
        padding-right: 10px;
        background: #CECECEEF;
        color: $secondary;
        font-family: gordita-regular;
        font-size: 16px;
        font-weight: bold;
        width: 100%;
        display: block;
        text-align: center;
    }
    &__btn_salir {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        border: 1px solid #EAEAEAEF;
        background: #EAEAEAEF;
        color: $secondary;
        font-family: gordita-regular;
        font-size: 16px;
        font-weight: bold;
        margin-right: 22px;
        width: 100%;
        display: block;
        text-align: center;
    }
    &__btn_salir:hover {
        color: #9B9B9BFF;
        background: #EDEDEDEF;
        transition: .4s all ease;
    }
    &__btn_restar {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: 1px solid #CECECEEF;
    }
    &__numero {
        border: 1px solid #CECECEEF;
    }
    &__btn_sumar {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid #CECECEEF;
    }
    &__btn_restar:hover {
        color: #999999EF;
        background: #D8D8D8EF;
        transition: .4s all ease;
    }
    &__btn_sumar:hover {
        color: #999999EF;
        background: #D8D8D8EF;
        transition: .4s all ease;
    }
    @media screen and(max-width: 991px) {
        &__bg {
            width: 100vw;
        }
    }
    @media screen and(max-width: 575px) {
        &__padding_destacados {
            padding-left: 0px;
            padding-right: 0px;
        }
        &__box_destacados {
            border: 1px solid #CECECEEF;
            box-shadow: none;
        }
        &__padding_lista {
            padding-left: 0px;
            padding-right: 0px;
        }
        &__box_lista {
            border: 1px solid #CECECEEF;
            box-shadow: none;
        }
    }
}
.carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
    width: 50px;
    height: 50px;
    opacity: 1;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 36px !important;
    height: 36px !important;
    border-radius: 50%;
    background: $primary;
    opacity: 1;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    bottom: 0;
    margin-top: auto;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 13%;
    color: #fff;
    text-align: center;
    height: 36px;
    margin-bottom: auto;
    width: auto;
    opacity: 1;
    transition: opacity .15s ease;
    border-radius: 50%;
}