.escritorio {
    &__title {
        color: $secondary;
        font-family: gordita-regular;
        font-weight: bold;
        font-size: 30px;
        padding-left: 12px;
    }
    &__subtitle {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 0px;
        font-family: gordita-regular;
    }
    &__box {
        height: 105px;
        border: 2px solid $primary;
        background: white;
        border-radius: 7px;
        font-family: gordita-regular;
        cursor: pointer;
        color: $secondary;
        padding: 8px;
        margin-top: auto;
        margin-bottom: auto;
    }
    &__box:hover {
        border: 2px solid $primary;
        background: $primary;
        color: white;
        transition: .4s all ease;
    }
    &__box:hover>&__start {
        color: white;
        transition: .4s all ease;
    }
    &__col {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        width: 33.33%;
        padding: 12px;
    }
    &__start {
        font-size: 45px;
        margin-bottom: 3px;
        margin-top: 5px;
        color: $primary;
    }
    @media screen and(max-width: 991px) {
        &__col {
            flex: 0 0 33.33%;
            max-width: 33.33%;
            width: 33.33%;
            padding: 15px;
        }
        &__title {
            font-size: 24px;
            padding-left: 15px;
        }
    }
    @media screen and(max-width: 767px) {
        &__col {
            flex: 0 0 50%;
            max-width: 50%;
            width: 50%;
            padding: 15px;
        }
        &__title {
            margin-top: 10px;
        }
    }
    @media screen and(max-width: 460px) {
        &__title {
            padding-left: 15px;
        }
        &__col {
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}