.pedidos {
    &__title {
        color: $secondary;
        font-family: gordita-regular;
        font-weight: bold;
        font-size: 30px;
        padding-left: 12px;
    }
    &__subtitle {
        color: $primary;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 25px;
        padding-left: 12px;
    }
    &__box {
        background: white;
        border-radius: 7px;
        min-height: 370px;
        padding-top: 15px;
        padding-bottom: 20px;
        padding-right: 30px;
        padding-left: 30px;
        margin-left: 12px;
        box-shadow: 0px 1px 2px 2px #CECECE;
    }
    &__line_orange {
        border-bottom: 1px solid $primary;
        opacity: 1;
        border-top: 0px;
        margin-right: 15px;
        margin-left: 15px;
    }
    &__font_orange {
        color: $primary;
        font-family: gordita-regular;
        font-weight: bold;
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
    }
    &__line_black {
        border-bottom: 1px solid #A3A3A3;
        opacity: 1;
        border-top: 0px;
        margin-right: 15px;
        margin-left: 15px;
    }
    &__font_productos {
        font-family: gordita-regular;
        color: $secondary;
        font-size: 14px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &__font_gris {
        font-family: gordita-regular;
        color: $secondary;
        font-size: 14px;
        line-height: 1;
        margin-bottom: 5px;
        margin-top: 5px;
        font-weight: bold;
        padding-right: 15px;
        padding-left: 15px;
    }
    @media screen and(max-width: 991px) {
        &__box {
            background: white;
            border-radius: 7px;
            min-height: 370px;
            padding-top: 15px;
            padding-bottom: 20px;
            padding-right: 20px;
            padding-left: 20px;
            box-shadow: 0px 1px 2px 2px #CECECE;
            margin-left: 15px;
            margin-right: 15px;
        }
        &__title {
            padding-left: 15px;
        }
        &__subtitle {
            padding-left: 15px;
        }
    }
    @media screen and(max-width: 768px) {
        &__title {
            font-size: 24px;
            padding-left: 15px;
            margin-top: 10px;
        }
        &__subtitle {
            color: $primary;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 25px;
            padding-left: 15px;
        }
        &__box {
            margin-right: 15px;
            margin-left: 15px;
        }
    }
    @media screen and(max-width: 460px) {
        &__box {
            margin-right: 15px;
            margin-left: 15px;
            padding-right: 10px;
            padding-left: 10px;
        }
        &__title {
            padding-left: 15px; //cosas nuevas
            margin-top: 10px;
        }
        &__subtitle {
            padding-left: 15px;
        }
        &__font_productos {
            padding-left: 5px;
            padding-right: 5px;
        }
        &__font_orange {
            padding-left: 5px;
            padding-right: 5px;
        }
        &__line_black {
            margin-right: 5px;
            margin-left: 5px;
        }
        &__line_orange {
            margin-right: 5px;
            margin-left: 5px;
        }
        &__font_gris {
            padding-right: 5px;
            padding-left: 5px;
        }
    }
}