.tab {
    &__bg {
        margin-top: 70px;
        min-height: 640px;
        background: $fondo;
        padding-top: 20px;
    }
    &__container {
        max-width: 1080px;
    }
    &__box_img {
        width: 100px;
        height: 100px;
        margin: 10px 14px;
    }
    &__img_person {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
    &__box_perfil {
        border: 1px solid #CECECE;
        border-radius: 4px;
        box-shadow: 0px 1px 2px 0px #CECECE;
        min-width: 300px;
    }
    &__user {
        padding-left: 1px;
        padding-right: 1px;
    }
    &__link {
        margin-top: 2px;
        margin-bottom: 2px;
        border: 1px solid #CECECE !important;
        border-radius: 4px !important;
        font-size: 17px;
        padding: 10px 10px;
        background: white;
        color: $secondary;
        font-family: gordita-regular;
        box-shadow: 0px 1px 2px 0px #CECECE;
        min-width: 300px;
    }
    &__font {
        font-family: gordita-regular;
        color: $secondary;
        font-size: 15px;
    }
    &__link:hover {
        background: $primary;
        color: white;
        border: 1px solid $primary !important;
        transition: .5 all ease;
    }
    @media screen and(max-width: 991px) {
        &__box_perfil {
            min-width: 280px;
        }
        &__container {
            padding: 0px;
        }
        &__link {
            min-width: 280px;
        }
        &__box_img {
            width: 95px;
            height: 95px;
            margin: 10px 7px;
        }
        &__title {
            font-size: 24px;
        }
        &__bg {
            background: $fondo;
            width: 100vw;
        }
        &__movil {
            clip: rect(1px 1px 1px 1px);
            /* IE6, IE7 */
            clip: rect(1px, 1px, 1px, 1px);
            position: absolute;
        }
    }
    @media screen and(max-width: 767px) {
        &__padding {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    @media screen and(max-width: 575px) {
        &__padding_user {
            padding-right: 10px;
            padding-left: 10px;
        }
        &__padding {
            padding-right: 0px;
            padding-left: 0px;
        }
    }
    @media screen and(max-width: 460px) {
        &__padding_user {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}
.list-group-item.active {
    background: $primary;
    color: white;
    border: 1px solid $primary !important;
    transition: .5 all ease;
}