.ajustes {
    &__title {
        color: $secondary;
        font-family: gordita-regular;
        font-weight: bold;
        font-size: 30px;
    }
    &__label {
        color: #707070FF;
        font-family: gordita-regular;
        margin-bottom: 0px;
        margin-top: 14px;
        font-size: 15px;
        font-weight: 500;
    }
    &__input {
        border-radius: 7px !important;
        box-shadow: 1px 2px 2px 1px rgba(186, 186, 186, .9) !important;
    }
    &__subtitle {
        margin-bottom: 5px;
        font-family: gordita-regular;
        font-weight: bold;
        font-size: 18px;
        color: $secondary;
    }
    &__btn {
        background: $primary;
        padding: 8px 20px;
        color: white;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 4px;
        margin-left: 50px;
        border: 1px solid $primary;
        font-family: gordita-regular;
        font-size: 14px;
    }
    &__btn:hover {
        color: $primary;
        background: white;
        border: 1px solid $primary;
    }
    @media screen and (max-width: 991px) {
        &__btn {
            text-align: center;
            align-self: center;
            margin-left: 100px;
            margin-right: 100px;
            display: flex;
            justify-content: center;
        }
        &__title {
            font-size: 24px;
        }
        &__padding {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        &__title {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    @media screen and(max-width: 767px) {
        &__title {
            padding-left: 15px;
            padding-right: 15px;
        }
        &__padding {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        &__btn {
            margin-left: auto;
            margin-right: auto;
        }
        &__subtitle {
            padding-left: 15px;
        }
        &__btn {
            margin-left: auto;
            margin-right: auto;
        }
        &__btn {
            text-align: center;
            align-self: center;
            margin-left: 15px;
            margin-right: 15px;
            display: flex;
            justify-content: center;
        }
        &__line {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
    @media screen and(max-width: 460px) {
        &__subtitle {
            padding-left: 15px;
        }
        &__title {
            margin-top: 10px;
            padding-left: 15px;
            padding-right: 15px;
        }
        &__padding {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        &__btn {
            margin-left: 15px;
            margin-right: 15px;
        }
        &__line {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}