<div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">

	<!--Controls-->
	<a class="carousel-control-prev" href="#carusel-2" role="button" data-slide="prev" id="">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carusel-2" id="" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
				 
	<div class="carousel-inner" role="listbox">
		<div class="carousel-item active d-flex flex-nowrap">
			<div class="{{class-cols}} {{class-carrusel__padding}}">
				<div class="{{class-carrusel__box}} d-flex flex-column">
					<div class="{{class-carrusel__box-img}} mx-auto" data-toggle="modal" data-target="#producto">
						<img src="static/img/ImgP2.png" class="carrusel__img" alt="">
					</div>
					<h6 class="text-center {{class-carrusel__title}}">Maizina 900grs</h6>
					<span class="text-center {{class-carrusel__subtitle}}">Bs. 250.000.00</span>
					<a href="#agregando" class="carrusel__btn_agregar" id="mostrar"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Agregar</a>
					<div  class="d-flex flex-nowrap mt-auto carrusel__btn-show">
						<a href="#salir" class="carrusel__btn_salir"><i class="fa fa-times" aria-hidden="true"></i></a>
						<a href="#restar" class="carrusel__btn_restar carrusel__btn_otro"><i class="fa fa-minus" aria-hidden="true"></i></a>
						<span href="#valor" class="carrusel__numero carrusel__btn_otro">1</span>
						<a href="#sumar" class="carrusel__btn_sumar carrusel__btn_otro"><i class="fa fa-plus" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="{{class-cols}} {{class-carrusel__padding}}">
				<div class="{{class-carrusel__box}} d-flex flex-column">
					<div class="{{class-carrusel__box-img}} mx-auto" data-toggle="modal" data-target="#producto">
						<img src="static/img/ImgP2.png" class="carrusel__img" alt="">
					</div>
					<h6 class="text-center {{class-carrusel__title}}">Maizina 900grs</h6>
					<span class="text-center {{class-carrusel__subtitle}}">Bs. 250.000.00</span>
					<a href="#agregando" class="carrusel__btn_agregar" id="mostrar"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Agregar</a>
					<div  class="d-flex flex-nowrap mt-auto carrusel__btn-show">
						<a href="#salir" class="carrusel__btn_salir"><i class="fa fa-times" aria-hidden="true"></i></a>
						<a href="#restar" class="carrusel__btn_restar carrusel__btn_otro"><i class="fa fa-minus" aria-hidden="true"></i></a>
						<span href="#valor" class="carrusel__numero carrusel__btn_otro">1</span>
						<a href="#sumar" class="carrusel__btn_sumar carrusel__btn_otro"><i class="fa fa-plus" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="{{class-cols}} {{class-carrusel__padding}}">
				<div class="{{class-carrusel__box}} d-flex flex-column">
					<div class="{{class-carrusel__box-img}} mx-auto" data-toggle="modal" data-target="#producto">
						<img src="static/img/ImgP2.png" class="carrusel__img" alt="">
					</div>
					<h6 class="text-center {{class-carrusel__title}}">Maizina 900grs</h6>
					<span class="text-center {{class-carrusel__subtitle}}">Bs. 250.000.00</span>
					<a href="#agregando" class="carrusel__btn_agregar" id="mostrar"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Agregar</a>
					<div  class="d-flex flex-nowrap mt-auto carrusel__btn-show">
						<a href="#salir" class="carrusel__btn_salir"><i class="fa fa-times" aria-hidden="true"></i></a>
						<a href="#restar" class="carrusel__btn_restar carrusel__btn_otro"><i class="fa fa-minus" aria-hidden="true"></i></a>
						<span href="#valor" class="carrusel__numero carrusel__btn_otro">1</span>
						<a href="#sumar" class="carrusel__btn_sumar carrusel__btn_otro"><i class="fa fa-plus" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="{{class-cols}} {{class-carrusel__padding}}">
				<div class="{{class-carrusel__box}} d-flex flex-column">
					<div class="{{class-carrusel__box-img}} mx-auto" data-toggle="modal" data-target="#producto">
						<img src="static/img/ImgP2.png" class="carrusel__img" alt="">
					</div>
					<h6 class="text-center {{class-carrusel__title}}">Maizina 900grs</h6>
					<span class="text-center {{class-carrusel__subtitle}}">Bs. 250.000.00</span>
					<a href="#agregando" class="carrusel__btn_agregar" id="mostrar"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Agregar</a>
					<div  class="d-flex flex-nowrap mt-auto carrusel__btn-show">
						<a href="#salir" class="carrusel__btn_salir"><i class="fa fa-times" aria-hidden="true"></i></a>
						<a href="#restar" class="carrusel__btn_restar carrusel__btn_otro"><i class="fa fa-minus" aria-hidden="true"></i></a>
						<span href="#valor" class="carrusel__numero carrusel__btn_otro">1</span>
						<a href="#sumar" class="carrusel__btn_sumar carrusel__btn_otro"><i class="fa fa-plus" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="{{class-cols}} {{class-carrusel__padding}}">
				<div class="{{class-carrusel__box}} d-flex flex-column">
					<div class="{{class-carrusel__box-img}} mx-auto" data-toggle="modal" data-target="#producto">
						<img src="static/img/ImgP2.png" class="carrusel__img" alt="">
					</div>
					<h6 class="text-center {{class-carrusel__title}}">Maizina 900grs</h6>
					<span class="text-center {{class-carrusel__subtitle}}">Bs. 250.000.00</span>
					<a href="#agregando" class="carrusel__btn_agregar" id="mostrar"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Agregar</a>
					<div  class="d-flex flex-nowrap mt-auto carrusel__btn-show">
						<a href="#salir" class="carrusel__btn_salir"><i class="fa fa-times" aria-hidden="true"></i></a>
						<a href="#restar" class="carrusel__btn_restar carrusel__btn_otro"><i class="fa fa-minus" aria-hidden="true"></i></a>
						<span href="#valor" class="carrusel__numero carrusel__btn_otro">1</span>
						<a href="#sumar" class="carrusel__btn_sumar carrusel__btn_otro"><i class="fa fa-plus" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>