<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
    <title>lidera</title>
  </head>
  <body>
    <!-- Navbar -->
    {{> ../components/layout/navbar.handlebars }}

    {{> ../components/section/home/home-portada.handlebars}}

    {{> ../components/section/home/home-categorias.handlebars}}

    {{> ../components/section/home/home-special.handlebars}}
       
    {{> ../components/section/home/home-destacados.handlebars }}

    {{> ../components/modals/productos.handlebars }}

    {{>../components/btn/btn-dolar.handlebars }}

    <!-- Footer -->
    {{> ../components/layout/footer.handlebars }}

  </body>
</html>
