<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
    <title>lidera</title>
  </head>
  <body>
    <!-- Navbar -->
    {{> ../components/layout/navbar.handlebars }}

    <div class="finalizado__bg">
    	<div class="container__lidera finalizado__container">
        <h2 class="text-center finalizado__title">Finaliza tu pedido</h2>
        <div class="d-flex flex-wrap">
          <div class="col-lg-8 col-md-7 col-12 pr-lg-4">
            <h4 class="finalizado__subtitle" >Detalles de facturación</h4>
            <hr class="mt-0 mb-1" >
            <form class="" action="#!">
              <div class="form-row mx-0">
                  <div class="col-lg-6 col-sm-6 px-0 pl-sm-0 pr-md-3 pr-sm-4">
                      <label for="nombre" class="finalizado__label">Nombre</label>
                      <input type="text" id="nombre" class="form-control finalizado__input">
                  </div>
                  <div class="col-lg-6 col-sm-6 px-0 pr-sm-0 pl-lg-3 pl-sm-4">
                      <label for="apellido" class="finalizado__label">Apellido</label>
                      <input type="text" id="apellido" class="form-control finalizado__input">
                  </div>
                  <div class="col-lg-12 px-0">
                      <label for="nombre_empresa"class="finalizado__label" >Nombre de la empresa</label>
                      <input type="text" id="nombre_empresa" class="form-control finalizado__input">
                  </div>
                  <div class="col-lg-12 px-0">
                    <label for="direccion" class="finalizado__label">Dirección</label>
                    <input type="text" id="direccion" class="form-control finalizado__input">
                  </div>
                  <div class="col-lg-6 col-sm-6 px-0 pl-sm-0 pr-md-3 pr-sm-4">
                    <label for="estado" class="finalizado__label">Estado</label>
                    <input type="text" id="estado" class="form-control finalizado__input">
                  </div>
                  <div class="col-lg-6 col-sm-6 px-0 pr-sm-0 pl-lg-3 pl-sm-4">
                    <label for="ciudad" class="finalizado__label">Ciudad</label>
                    <input type="text" id="ciudad" class="form-control finalizado__input">
                  </div>
                  <div class="col-lg-6 col-sm-6 px-0 pl-sm-0 pr-md-3 pr-sm-4">
                    <label for="tlf" class="finalizado__label">Teléfono</label>
                    <input type="text" id="tlf" class="form-control finalizado__input">
                  </div>
                  <div class="col-lg-6 col-sm-6 px-0 pr-sm-0 pl-lg-3 pl-sm-4">
                    <label for="email" class="finalizado__label">Correo electrónico</label>
                    <input type="text" id="email" class="form-control finalizado__input">
                  </div>
              </div>
              <h4 class="finalizado__subtitle mt-5" >Información adicional</h4>
              <hr class="mt-0 mb-1" >
              <div class="form-row mx-0">
                <div class="col-lg-12 px-0">
                  <label for="opcional"class="finalizado__label">Notas del pedido (Opcional)</label>
                  <input type="text" id="opcional" class="form-control finalizado__input">
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-4 col-md-5 col-12 pl-lg-4">
            <h4 class="finalizado__subtitle text-center" >¿Tienes un cupon? <span class="finalizado__text_orange"> Canjealo</span></h4>
            <div class="input-group mb-3">
              <input type="text" class="form-control finalizado__input_cupon"  aria-label="Recipient's username"
                aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-md  finalizado__input_canjear m-0 px-3 py-2 z-depth-0 " type="button" id="button-addon2">Canjear</button>
              </div>
            </div>
              <div class="card finalizado__radius">        
                <!--Card content-->
                <div class="finalizado__box_precio">
                  <!--Title-->
                  <h4 class="finalizado__subtitle text-left mb-4" >Tu pedido</h4>
                  <!--Text-->
                  <div class="d-flex justify-content-between">
                    <h5 class="finalizado__subtitle_precio">Producto</h5>
                    <h5 class="finalizado__subtitle_precio">Subtotal</h5>
                  </div>
                  <hr class="mt-0 finalizado__line_gris" >
                  <div class="finalizado__overflow">
                    <div class="d-flex justify-content-between">
                      <h6 class="finalizado__productos_font">Maiz de cotufa x2</h6>
                      <h6 class="finalizado__productos_font">Bs. 700</h6>
                    </div>
                    <hr class="my-0 finalizado__line_orange" >
                    <div class="d-flex justify-content-between">
                      <h6 class="finalizado__productos_font">Harina de maiz x7</h6>
                      <h6 class="finalizado__productos_font">Bs. 700.700</h6>
                    </div>
                    <hr class="my-0 finalizado__line_orange" >
                    <div class="d-flex justify-content-between">
                      <h6 class="finalizado__productos_font">Azucar morena x3</h6>
                      <h6 class="finalizado__productos_font">Bs. 714.145.00</h6>
                    </div>
                  </div>
                  <div class="d-flex flex-column" style="min-height:160px">
                    <div class="mt-auto">
                      <hr class="my-0 finalizado__line_gris" >
                  <div class="d-flex justify-content-between ">
                    <h6 class="text-left finalizado__precios-text" >Subtotal</h6>
                    <h6 class="text-right finalizado__precios-text">Bs. 500</h6>
                  </div>
                  <hr class="my-0 finalizado__line_gris" >
                  <h6 class="finalizado__text_iva text-center ">ESTE MONTO NO INCLUYE IVA</h6>

                  <a href="#" class="finalizado__btn_guardar mt-auto ">Guardar dirección</a>
                    </div>
                  </div>
                  
                </div>

              </div>
          </div>
        </div>
      </div>
    </div>

    {{> ../components/layout/footer.handlebars }}

  </body>
</html>
