<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
    <title>lidera</title>
  </head>
  <body>
    <!-- Navbar -->
    {{> ../components/layout/navbar.handlebars }}

    <div class="recibido__bg">
      <div class="container__lidera">
      <h2 class="text-center recibido__title mb-0 pt-3">Gracias!! Tu pedido ha sido recibido.</h2>
        <h3 class="text-center recibido__subtitle_orange">Pronto nos podremos en contacto contigo.</h3>
        </div>
    	<div class="container__lidera recibido__container">
        
        <div class="d-flex flex-wrap">

          <div class="col-12  mb-4">
              <div class="card recibido__radius">        
                <!--Card content-->
                <div class="recibido__box_precio">
                  <!--Title-->
                  <h4 class="recibido__subtitle text-left mb-4" >Tu pedido</h4>
                  <!--Text-->
                  <div class="d-flex justify-content-between">
                    <h5 class="recibido__subtitle_precio">Producto</h5>
                    <h5 class="recibido__subtitle_precio">Subtotal</h5>
                  </div>
                  <hr class="mt-0 recibido__line_gris" >
                  <div class="d-flex justify-content-between">
                    <h6 class="recibido__productos_font">Maiz de cotufa x2</h6>
                    <h6 class="recibido__productos_font">Bs. 700</h6>
                  </div>
                  <hr class="my-0 recibido__line_orange" >
                  <div class="d-flex justify-content-between">
                    <h6 class="recibido__productos_font">Harina de maiz x7</h6>
                    <h6 class="recibido__productos_font">Bs. 700.700</h6>
                  </div>
                  <hr class="my-0 recibido__line_orange" >
                  <div class="d-flex justify-content-between">
                    <h6 class="recibido__productos_font">Azucar morena x3</h6>
                    <h6 class="recibido__productos_font">Bs. 714.145.00</h6>
                  </div>
                  <div class="d-flex flex-column" style="min-height:200px">
                    <div class="mt-auto">
                      <hr class="my-0 recibido__line_gris" >
                  <div class="d-flex justify-content-between ">
                    <h6 class="text-left recibido__precios-text" >Subtotal</h6>
                    <h6 class="text-right recibido__precios-text">Bs. 500</h6>
                  </div>
                  <hr class="my-0 recibido__line_gris" >

                 
                    </div>
                  </div>
                  
                </div>

              </div>
          </div>
           <a href="#" class="recibido__btn_regresar mt-2 ">Regresar a la tienda</a>
        </div>
      </div>
    </div>

    {{> ../components/layout/footer.handlebars }}

  </body>
</html>
