<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
    <title>lidera</title>
  </head>
  <body>
      {{> ../components/layout/navbar.handlebars }}

      {{> ../components/section/tienda/tienda-lista.handlebars }}

      {{>../components/modals/select-marca.handlebars }}
      
      {{> ../components/modals/productos.handlebars }}

		  {{> ../components/layout/footer.handlebars }}

  </body>
</html>
