<div class="lista__bg">
	<div class="lista__col_marca d-flex flex-column lista__show-marca-movil lista__overflow" id="box_filtrar">
		<a href="#salir_tu_casa" class="ml-auto lista__salir-x" id="salir"><i class="fas fa-times"></i></a>
				<h5 class="lista__font">Compra por marca</h5>
				<a href="#" class="lista__btn" data-toggle="modal" data-target="#select_marca"><i class="fab fa-the-red-yeti lista__yeti"></i><br>
				Elige una marca</a>
				<h5 class="lista__font mt-5">Comprar por categoria</h5>
					<div class="list-group">

					  	<a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

						<a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

						<a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

						<a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

						<a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

						<a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

						<a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

						<a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>
						  <a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

						<a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

						<a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

						<a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

						  <a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

					</div>
	</div>
	<div class="container__lidera lista__container">

		<div class="d-flex flex-wrap">

			<div class="lista__col_marca d-flex flex-column lista__show-marca lista__bg_categorias">
				<h5 class="lista__font">Compra por marca</h5>
				<a href="#" class="lista__btn" data-toggle="modal" data-target="#select_marca"><i class="fab fa-the-red-yeti lista__yeti"></i><br>
				Elige una marca</a>
				<h5 class="lista__font mt-5">Comprar por categoria</h5>
					<div class="list-group">

					  	<a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

						<a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

						<a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

						<a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

						<a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

						<a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

						<a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

						<a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>
						  <a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

						<a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

						<a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

						<a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

						  <a href="#!" class="list-group-item list-group-item-action lista__link"><i class="fas fa-circle"></i> Categorias</a>

						  <div class="list-group lista__group2 lista__acordion">
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  	<a href="#!" class="list-group-item list-group-item-action lista__link2"><i class="far fa-circle"></i>  Sub-categorias</a>
						  </div>

					</div>
			</div>
			<div class="lista__col_carrusel">
				<div class="d-flex align-self-end lista__box-filtrar lista__show-filtrar">
					<a href="#f" class="ml-auto lista__btn-filtrar" id="filtrar"><i class="fas fa-align-left"></i> FILTRAR</a>
				</div>
				
				{{> ../../title/title-between.handlebars class-box="" title="Categoria #1" subtitle="Ver todos"}}

				{{> ../../carrusel/carrusel.handlebars class-carrusel__title="carrusel__title_lista" class-carrusel__subtitle="carrusel__subtitle_lista" class-carrusel__box-img="carrusel__box-img_lista" class-carrusel__box="carrusel__box_lista" class-carrusel__padding="carrusel__padding_lista" class-cols="col-lg-4 col-md-4 col-sm-6 col-12" }}

				{{> ../../title/title-between.handlebars class-box="mt-lg-5 mt-3" title="Categoria #1" subtitle="Ver todos"}}

				{{> ../../carrusel/carrusel.handlebars class-carrusel__title="carrusel__title_lista" class-carrusel__subtitle="carrusel__subtitle_lista" class-carrusel__box-img="carrusel__box-img_lista" class-carrusel__box="carrusel__box_lista" class-carrusel__padding="carrusel__padding_lista" class-cols="col-lg-4 col-md-4 col-sm-6 col-12" }}

				{{> ../../title/title-between.handlebars class-box="mt-lg-5 mt-3" title="Categoria #1" subtitle="Ver todos"}}

				{{> ../../carrusel/carrusel.handlebars class-carrusel__title="carrusel__title_lista" class-carrusel__subtitle="carrusel__subtitle_lista" class-carrusel__box-img="carrusel__box-img_lista" class-carrusel__box="carrusel__box_lista" class-carrusel__padding="carrusel__padding_lista" class-cols="col-lg-4 col-md-4 col-sm-6 col-12" }}
				
			</div>

		</div>
	</div>
</div>