<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-white p-0 d-flex flex-wrap fixed-top">
  <div class="container__lidera navbar-collapse d-flex flex-nowrap">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#"><img src="static/img/logo.png" class="navbar__img-libera" alt="" /></a>

        <!-- Collapse button -->
        
        
        <!-- Collapsible content -->
     
          <div class="navbar__line_vertical navbar__hidden"></div>
          <!-- Links -->
          <ul class="navbar-nav navbar__hidden">
            <!-- Dropdown -->
            <li class="nav-item dropdown mx-2 px-1">
              <a class="nav-link dropdown-toggle navbar__btn" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><i class="fa fa-list" aria-hidden="true"></i> Categorías</a>
              <div class="dropdown-menu dropdown-primary py-0 navbar__box-item" aria-labelledby="navbarDropdownMenuLink">
                <ul class="navbar__hover-item-2 position-relative"> <a class="dropdown-item d-flex flex-nowrap navbar__border px-0 navbar__font-item navbar__hover-item" href="#"><div class="navbar__circulo"></div>Alimentos</a>
                  <ul class="navbar-nav navbar__box-item-2 flex-column">
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Bebida</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Café Te Infusiones</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Especies</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Cereales</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Snacks</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Salsas</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Alimentos Enlatados</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Reposteria</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Aceites y Vinagres</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Mermelada y gelatinas</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Pasta y arroces</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Untables</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Endulzantes</a></li>
                  </ul>
                </ul>
                <ul class="navbar__hover-item-2 position-relative"><a class="dropdown-item d-flex flex-nowrap navbar__border px-0 navbar__font-item navbar__hover-item" href="#"><div class="navbar__circulo"></div>Charcuteria</a>
                  <ul class="navbar-nav navbar__box-item-2 flex-column">
                    
                  </ul>
                </ul>
                <ul class="navbar__hover-item-2 position-relative"><a class="dropdown-item d-flex flex-nowrap navbar__border px-0 navbar__font-item navbar__hover-item" href="#"><div class="navbar__circulo"></div>Confiteria</a>
                  <ul class="navbar-nav navbar__box-item-2 flex-column">
                  </ul>
                </ul>
                <ul class="navbar__hover-item-2 position-relative"><a class="dropdown-item d-flex flex-nowrap navbar__border px-0 navbar__font-item navbar__hover-item" href="#"><div class="navbar__circulo"></div>Cuidado del Bebé</a>
                  <ul class="navbar-nav navbar__box-item-2 flex-column">
                   
                  </ul>
                </ul>
                <ul class="navbar__hover-item-2 position-relative"><a class="dropdown-item d-flex flex-nowrap navbar__border px-0 navbar__font-item navbar__hover-item" href="#"><div class="navbar__circulo"></div>Cuidado personal</a>
                  <ul class="navbar-nav navbar__box-item-2 flex-column">
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Protección Femenina</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Desodorantes</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Afeitado</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Cuidado de la piel</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Cuidado bucal</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Toallitas humedas</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Jabon de tocador</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Jabon liquido</a></li>
                  </ul>
                </ul>
                <ul class="navbar__hover-item-2 position-relative"><a class="dropdown-item d-flex flex-nowrap navbar__border px-0 navbar__font-item navbar__hover-item" href="#"><div class="navbar__circulo"></div>Limpieza</a>
                  <ul class="navbar-nav navbar__box-item-2 flex-column">
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Detergentes</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Antibacteriales</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Cloros</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Limpia vidrios</a></li>
                  </ul>
                </ul>
                <ul class="navbar__hover-item-2 position-relative"><a class="dropdown-item d-flex flex-nowrap navbar__border px-0 navbar__font-item navbar__hover-item" href="#"><div class="navbar__circulo"></div>Mascotas</a>
                  <ul class="navbar-nav navbar__box-item-2 flex-column">
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Perros</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Gatos</a></li>
                  </ul>
                </ul>
                <ul class="navbar__hover-item-2 position-relative"><a class="dropdown-item d-flex flex-nowrap navbar__border px-0 navbar__font-item navbar__hover-item" href="#"><div class="navbar__circulo"></div>Papel</a>
                  <ul class="navbar-nav navbar__box-item-2 flex-column">
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Papel toilet</a></li>
                    <li class="nav-item navbar__box-item-li"><a class="navbar__item-2 px-0 navbar__border-2 d-flex flex-nowrap"><div class="navbar__circulo-2"></div>Papel absorbente</a></li>
                  </ul>
                </ul>
                <ul class="navbar__hover-item-2 position-relative"><a class="dropdown-item d-flex flex-nowrap px-0 navbar__font-item navbar__hover-item" href="#"><div class="navbar__circulo"></div>Pilas Alcalinas</a>
                  <ul class="navbar-nav navbar__box-item-2 flex-column">
                   
                  </ul>
                </ul>
              </div>
            </li>
          </ul>
          <div class="navbar__line_vertical navbar__hidden"></div>
        
          <!-- Links -->
          
          <form class="form-row navbar__form_search mx-lg-2 d-flex justify-content-center px-lg-1 mx-0">
            <div class="p-0 position-relative navbar__box-search">
              <input class="form-control navbar__search" type="text" placeholder="Buscar productos..." aria-label="Search">
              <img class="navbar__img-icon-search" src="static/img/lupa.png" alt="">
            </div>
          </form>
          
        
        
          <div class="navbar__line_vertical navbar__hidden"></div>
          <ul class="navbar-nav">
            <!-- Dropdown -->
            <li class="nav-item dropdown mx-2 px-1 navbar__hidden">
              <a class="nav-link navbar__btn-acceder"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Carrito</a>
            </li>
          </ul>

          <div class="navbar__line_vertical navbar__hidden"></div>
          <ul class="navbar-nav navbar__hidden">
            <!-- Dropdown -->
            <li class="nav-item dropdown ml-2 pl-1">
              <a class="nav-link navbar__btn-cuenta">Cuenta</a>
            </li>
          </ul>

     
          <!-- Collapsible content -->
          <button class="navbar-toggler bg-transparent ml-2 px-2" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation" id="btn_hamburger">
          {{!-- <span class="navbar-toggler-icon"></span> --}}
          <div class="navbar__toggler-icon-box">
            <span class="navbar__toggler-icon-line"></span>
            <span class="navbar__toggler-icon-line"></span>
            <span class="navbar__toggler-icon-line"></span>
            <span class="navbar__toggler-icon-line"></span>
          </div>
        </button>

  </div>

  <div class="collapse navbar__container-login py-0 navbar__box-login" id="basicExampleNav">
    {{> ./perfil-sin-iniciar.handlebars }}
  </div>
 
</nav>
<!--/.Navbar-->
