<div class="navbar-collapse d-flex flex-wrap navbar__box-login pt-3 pb-4" id="basicExampleNav">
      <div class="d-flex flex-nowrap">
        <div class="navbar__box-img-person mb-sm-3 mb-1 navbar__padding_zero">
            <img src="static/img/person.png" class="navbar__img-person" alt="">
          </div>
        <div class="navbar__box-text-img">
          <h4 class="navbar__font-login navbar__login-title">!Hola!</h4>
          <p class="navbar__font-login mb-0 navbar__login-parrafo">Inicia sesión o crea tu cuenta para empezar a compara con unos cuantos clicks</p>
        </div>
      </div>
        <div class="col-sm-6 col-12 py-1 navbar__padding_zero">
          <button type="button" class="navbar__btn-login navbar__primary btn btn-block">Iniciar sesión</button>
        </div>
        <div class="col-sm-6 col-12 py-1 navbar__padding_zero">
          <button type="button" class="navbar__btn-login navbar__gris btn btn-block">Crear una Cuenta</button>
        </div>
          <hr class="w-100 mb-0 mt-sm-5 mt-4">
          <a href="#" class="navbar__font-login col-12 navbar__hipervinculo navbar__padding_zero"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>
          <hr class="w-100 my-0">
          <a href="#" class="navbar__font-login col-12 navbar__hipervinculo navbar__padding_zero"><i class="fa fa-list" aria-hidden="true"></i> Categoria</a>
          <hr class="w-100 my-0">
          <a href="#" class="navbar__font-login col-12 navbar__hipervinculo navbar__padding_zero"><i class="fa fa-info-circle" aria-hidden="true"></i> Ayuda</a>
          <hr class="w-100 my-0">
          <a href="#" class="navbar__font-login col-12 navbar__hipervinculo navbar__padding_zero"><i class="fas fa-comment-alt"></i> Contactanos</a>
          <hr class="w-100 my-0">
          <a href="#" class="navbar__font-login col-12 navbar__hipervinculo navbar__padding_zero"><i class="fas fa-map-marker-alt"></i> Ubícanos</a>
          <hr class="w-100 my-0">
    </div>