 <!-- Central Modal Small -->
    <div class="modal fade productos__bg" id="producto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">

          <!-- Change class .modal-sm to change the size of the modal -->
        <div class="modal-dialog modal-dialog-centered container__lidera productos__container" role="document">


            <div class="modal-content productos__modal_body"> 
              <div class="modal-body">
                <div class="d-flex justify-content-end">
                  <a href="#" class="ml-auto productos__btn_salir" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></a>
                </div>
                <div class="d-flex flex-wrap">
                  <div class="col-12 col-md-12 col-lg-6 productos__padding">
                    <div href="#produc" class="productos__box_imgs">
                      <img src="static/img/Maizina Americana.jpg" class="productos__imgs" alt="">
                    </div>
                  </div>
                  <div class="col-12 col-md-12 col-lg-6 productos__padding">
                    <h5 class="productos__title_proct mb-1">Maizina Americana</h5>
                    <hr class="mb-1 mt-0">
                    <p class="productos__font productos__descrip mb-2">Almidón de maíz o maicena, harina para hacer pan, pastas, bizcochos, bases de pizza.<br> Producto blanco, en polvo, muy suave y refinado, extraído de los mejores granos de maíz.</p>
                    <hr class="my-2">
                    <h6 class="productos__font productos__detalles">Disponible: 70 unidades<h6>
                    <h6 class="productos__font productos__detalles">SKU:PDD-22062020</h6>
                    <h6 class="productos__font productos__detalles">Another important info #1: Lorem</h6>
                    <h6 class="productos__font productos__detalles">Another important info #1: Ipsum</h6>
                    <hr class="my-2">
                    <div class="d-flex justify-content-sm-between productos__movil_colum">
                      <h5 class="productos__precios my-auto">Precio: 220,000.00 Bs</h5>
                      <a href="#comprado__sorry" class="productos__btn_agregar"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Agregar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!-- Central Modal Small -->
