<!-- Central Modal Small Select -->
<div class="modal fade select__fondo" id="select_marca" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-lg" role="document">


    <div class="modal-content select__modal_body">
      
      <div class="modal-body ">
        <div class="d-flex flex-nowrap select__box-title">
          <h4 class="select__title mb-0 my-auto">Elige una marca para chequear los productos</h4>
          <a href="#saquen_me_de_aqui" class="ml-auto select__btn" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></a>
        </div>
        <div class="select__box">
            <div class="d-flex flex-wrap justify-content-center">
                <a href="#marca" class="select__imgs-box text-center"><img src="static/img/Maizina-Americana.png" class="select__imgs" alt="">
                Maizina Americana</a>
                <a href="#marca" class="select__imgs-box text-center"><img src="static/img/Maizina-Americana.png" class="select__imgs" alt="">
                Maizina Americana</a>
                <a href="#marca" class="select__imgs-box text-center"><img src="static/img/Maizina-Americana.png" class="select__imgs" alt="">
                Maizina Americana</a>
                <a href="#marca" class="select__imgs-box text-center"><img src="static/img/Maizina-Americana.png" class="select__imgs" alt="">
                Maizina Americana</a>
                <a href="#marca" class="select__imgs-box text-center"><img src="static/img/Maizina-Americana.png" class="select__imgs" alt="">
                Maizina Americana</a>
                <a href="#marca" class="select__imgs-box text-center"><img src="static/img/Maizina-Americana.png" class="select__imgs" alt="">
                Maizina Americana</a>
                <a href="#marca" class="select__imgs-box text-center"><img src="static/img/Maizina-Americana.png" class="select__imgs" alt="">
                Maizina Americana</a>
                <a href="#marca" class="select__imgs-box text-center"><img src="static/img/Maizina-Americana.png" class="select__imgs" alt="">
                Maizina Americana</a>
                <a href="#marca" class="select__imgs-box text-center"><img src="static/img/Maizina-Americana.png" class="select__imgs" alt="">
                Maizina Americana</a>
                <a href="#marca" class="select__imgs-box text-center"><img src="static/img/Maizina-Americana.png" class="select__imgs" alt="">
                Maizina Americana</a>
                <a href="#marca" class="select__imgs-box text-center"><img src="static/img/Maizina-Americana.png" class="select__imgs" alt="">
                Maizina Americana</a>
                <a href="#marca" class="select__imgs-box text-center"><img src="static/img/Maizina-Americana.png" class="select__imgs" alt="">
                Maizina Americana</a>
            </div>
        </div>

      </div>
      
    </div>
  </div>
</div>
<!-- Central Modal Small Select -->