<div class="tab__bg">
	<div class="container__lidera tab__container">
		<div class="d-flex flex-wrap">
		<div class="d-flex flex-column col-12 col-lg-4 col-md-5 tab__padding_user tab__movil">
			<div class="d-flex flex-nowrap tab__box_perfil  px-0 mb-2 bg-white">
				<div class="tab__box_img">
					<img src="static/img/person.png" class="tab__img_person" class="" alt="">
				</div>
				<div class="d-flex flex-column tab__user my-auto">
					<h6 class="tab__font">Nombre: Unnamed</h6>
					<h6 class="tab__font">Rango: S</h6>
				</div>
			</div>
				<ul class="nav nav-tabs list-group" id="myTab" role="tablist">
				  <li class="">
				    <a class="tab__link list-group-item list-group-item-action  active" id="home-tab" data-toggle="tab" href="#escritorio" role="tab" aria-controls="home"
				      aria-selected="true"><i class="fas fa-circle"></i> Escritorio</a>
				  </li>
				  <li class="">
				    <a class="tab__link list-group-item list-group-item-action" id="profile-tab" data-toggle="tab" href="#pedidos" role="tab" aria-controls="profile"
				      aria-selected="false"><i class="fas fa-circle"></i> Pedidos</a>
				  </li>
				  <li class="">
				    <a class="tab__link list-group-item list-group-item-action" id="contact-tab" data-toggle="tab" href="#direcciones" role="tab" aria-controls="contact"
				      aria-selected="false"><i class="fas fa-circle"></i> Direcciones</a>
				  </li>
				  <li class="">
				    <a class="tab__link list-group-item list-group-item-action" id="contact-tab" data-toggle="tab" href="#ajustes" role="tab" aria-controls="contact"
				      aria-selected="false"><i class="fas fa-circle"></i> Ajustes</a>
				  </li>
				</ul>
		</div>
		<div class="col-12 col-lg-8 tab__padding">
			<div class="tab-content" id="myTabContent">
		
			  	{{> ./perfil-escritorio.handlebars }}
			
			  	{{> ./perfil-pedidos.handlebars }}
			  
			    {{> ./perfil-direcciones.handlebars }}

			    {{> ./perfil-ajustes.handlebars }}
			</div>
		</div>
		</div>
	</div>
</div>



