<div class="tab-pane fade show active" 
id="escritorio" role="tabpanel" aria-labelledby="home-tab">
	<h2 class="escritorio__title">Hola Unnamed!!</h2>
	<div class="d-flex flex-wrap">
		<div class="escritorio__col">
			<div class="escritorio__box text-center ">
				<i class="far fa-star escritorio__start"></i>
				<h4 class="escritorio__subtitle mt-0">Escritorio</h4>
			</div>	
		</div>
		<div class="escritorio__col">
			<div class="escritorio__box text-center ">
				<i class="far fa-star escritorio__start"></i>
				<h4 class="escritorio__subtitle mt-0">Pedidos</h4>
			</div>	
		</div>
		<div class="escritorio__col">
			<div class="escritorio__box text-center ">
				<i class="far fa-star escritorio__start"></i>
				<h4 class="escritorio__subtitle mt-0">Direcciones</h4>
			</div>	
		</div>
		<div class="escritorio__col">
			<div class="escritorio__box text-center ">
				<i class="far fa-star escritorio__start"></i>
				<h4 class="escritorio__subtitle mt-0">Ajustes</h4>
			</div>	
		</div>
		<div class="escritorio__col">
			<div class="escritorio__box text-center ">
				<i class="far fa-star escritorio__start"></i>
				<h4 class="escritorio__subtitle mt-0">Ir a la tienda</h4>
			</div>	
		</div>
	</div>
</div>