<div class="tab-pane fade" id="direcciones" 
role="tabpanel" aria-labelledby="contact-tab">
	<h2 class="direcciones__title">Aqui podras editar la dirección de facturación.</h2>
	<form class="" action="#!">
              <div class="form-row mx-0">
                  <div class="col-lg-6 col-md-6 col-sm-6 direcciones__padding pl-sm-0 pr-sm-4">
                      <label for="nombre" class="direcciones__label">Nombre</label>
                      <input type="text" id="nombre" class="form-control direcciones__input">
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 direcciones__padding pr-sm-0 pl-sm-4">
                      <label for="apellido" class="direcciones__label">Apellido</label>
                      <input type="text" id="apellido" class="form-control direcciones__input">
                  </div>
                  <div class="col-lg-12 px-sm-0 direcciones__padding">
                      <label for="nombre_empresa"class="direcciones__label" >Nombre de la empresa</label>
                      <input type="text" id="nombre_empresa" class="form-control direcciones__input">
                  </div>
                  <div class="col-lg-12 px-sm-0 direcciones__padding">
                    <label for="direccion" class="direcciones__label">Dirección</label>
                    <input type="text" id="direccion" class="form-control direcciones__input">
                  </div>
                  <div class="col-lg-6 direcciones__padding col-md-6 col-sm-6 pl-sm-0 pr-sm-4">
                    <label for="estado" class="direcciones__label">Estado</label>
                    <input type="text" id="estado" class="form-control direcciones__input">
                  </div>
                  <div class="col-lg-6 direcciones__padding col-md-6 col-sm-6 pr-sm-0 pl-sm-4">
                    <label for="ciudad" class="direcciones__label">Ciudad</label>
                    <input type="text" id="ciudad" class="form-control direcciones__input">
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 direcciones__padding pl-sm-0 pr-sm-4">
                    <label for="tlf" class="direcciones__label">Teléfono</label>
                    <input type="text" id="tlf" class="form-control direcciones__input">
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 direcciones__padding pr-sm-0 pl-sm-4">
                    <label for="email" class="direcciones__label">Correo electrónico</label>
                    <input type="text" id="email" class="form-control direcciones__input">
                  </div>
                  <a href="#" class="direcciones__btn">Regresar a la tienda</a>
              </div>
    </form>
     
</div>