 <div class="tab-pane fade" id="pedidos" 
 role="tabpanel" aria-labelledby="profile-tab">
	<h2 class="pedidos__title">Pedido #3465</h2>
	<h6 class="pedidos__subtitle">Se realizó el 1 julio, 2020 y está actualmente Procesando</h6>
	<div class="pedidos__box d-flex flex-column">
		<div class="d-flex flex-nowrap">
			<span class="col-6 pedidos__font_orange">Producto</span>
			<span class="col-6 pedidos__font_orange">Monto</span>
		</div>
		<hr class="my-0 pedidos__line_black">
		<div class="d-flex flex-nowrap">
			<span class="col-6 pedidos__font_productos">Harina de maiz Doña Golla x 4</span>
			<span class="col-6 pedidos__font_productos">Bs 7.100.500</span>
		</div>
		<hr class="my-0 pedidos__line_orange">
		<div class="d-flex flex-nowrap">
			<span class="col-6 pedidos__font_productos">Harina de trigo Doña Golla x 10</span>
			<span class="col-6 pedidos__font_productos">Bs 700.100.500</span>
		</div>

		
		<div class="mt-auto">
			<h6 class="mb-1 text-left pedidos__font_orange">Dirección de facturación</h6>
			<hr class=" my-0 pedidos__line_black">
			<p class="pedidos__font_gris">Eduardo Lara</p>
			<p class="pedidos__font_gris">Av, Libertador, 24 de Mayo</p>
			<p class="pedidos__font_gris">J-56445454-5</p>
			<p class="pedidos__font_gris">+58 412 5478 421</p>
			<p class="pedidos__font_gris">eduedu@gmail.com</p>
		</div>
	
	</div>
</div>