<div class="tab-pane fade" id="ajustes" 
role="tabpanel" aria-labelledby="contact-tab">
	<h2 class="ajustes__title">Aqui podras cambiar ajustes de la cuenta.</h2>
            <form class="" action="#!">
              <div class="form-row mx-0">
                  <div class="col-lg-6 col-md-6 col-sm-6 ajustes__padding pl-sm-0 pr-sm-4">
                      <label for="nombre" class="ajustes__label">Nombre</label>
                      <input type="text" id="nombre" class="form-control ajustes__input">
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 ajustes__padding pr-sm-0 pl-sm-4">
                      <label for="apellido" class="ajustes__label">Apellido</label>
                      <input type="text" id="apellido" class="form-control ajustes__input">
                  </div>
                  <div class="col-lg-12 px-md-0 ajustes__padding">
                      <label for="nombre_empresa"class="ajustes__label" >Nombre de la empresa</label>
                      <input type="text" id="nombre_empresa" class="form-control ajustes__input">
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 ajustes__padding pr-sm-4">
                    <label for="email" class="ajustes__label">Correo electrónico</label>
                    <input type="text" id="email" class="form-control ajustes__input">
                  </div>
              </div>
              <hr class="mt-5 mb-4 ajustes__line" >
              <h4 class="ajustes__subtitle mt-0" >Cambiar contraseña (Deja vacío en caso de no querer cambiarla)</h4>
              <div class="form-row mx-0">
                <div class="col-lg-6 col-md-6 col-sm-6 ajustes__padding pl-sm-0 pr-sm-4">
                      <label for="contrasena_actual" class="ajustes__label">Contraseña actual</label>
                      <input type="text" id="contrasena_actual" class="form-control ajustes__input">
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 ajustes__padding pr-sm-0 pl-sm-4">
                      <label for="contrasena_nueva" class="ajustes__label">Contraseña nueva</label>
                      <input type="text" id="contrasena_nueva" class="form-control ajustes__input">
                  </div>
                  <div class="col-lg-12 col-md-12 px-md-0 ajustes__padding mb-sm-4">
                      <label for="confirma" class="ajustes__label">Confirma contraseña nueva</label>
                      <input type="text" id="confirma" class="form-control ajustes__input">
                  </div>
              </div>
            </form>
            <a href="#" class="ajustes__btn">Cambiar contraseña</a>

</div>