.productos {
    &__bg {
        background: rgba(199, 199, 199, 0.3) !important;
    }
    &__modal_body {
        border-radius: 15px !important;
    }
    &__container {
        max-width: 880px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        padding-top: 50px;
        height: 100%;
    }
    &__box_imgs {
        width: 100%;
        height: 270px;
        border: 1px solid #E0E0E0FF;
        border-radius: 4px;
        background: rgba(232, 232, 232, 0.2);
        padding: 15px;
    }
    &__imgs {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__font {
        font-family: gordita-regular;
        color: $secondary;
    }
    &__btn_salir {
        padding: 3px 10px;
        color: $secondary;
        background: $fondo;
        border-radius: 5px;
    }
    &__btn_salir:hover {
        color: #A3A3A3AD;
        background: #F7F7F7;
    }
    &__title_proct {
        font-size: 20px;
        font-family: gordita-bold;
        color: $secondary;
    }
    &__descrip {
        font-size: 13px;
    }
    &__detalles {
        font-size: 13px;
    }
    &__precios {
        font-size: 15px;
        font-family: gordita-bold;
        color: $secondary;
        transform: scaleY(1.1);
    }
    &__btn_agregar {
        color: white;
        background: $primary;
        border-radius: 4px;
        padding: 7px 20px;
        border: 1px solid $primary;
        text-align: center;
        display: block;
    }
    &__btn_agregar:hover {
        color: $primary;
        background: white;
        border: 1px solid $primary;
    }
    @media screen and(max-width: 991px) {
        &__btn_salir {
            margin-bottom: 10px;
        }
        &__padding {
            padding-left: 0px;
            padding-right: 0px;
        }
        &__title_proct {
            margin-top: 15px;
        }
        &__box_imgs {
            height: 240px;
        }
        &__container {
            max-width: 680px;
        }
    }
    @media screen and(max-width: 768px) {
        &__container {
            max-width: 580px;
            padding-left: 10px;
            padding-right: 10px;
        }
        &__box_imgs {
            height: 240px;
            padding: 10px;
        }
    }
    @media screen and(max-width: 575px) {
        &__title_proct {
            font-size: 18px;
        }
        &__descrip {
            font-size: 12px;
        }
        &__detalles {
            font-size: 12px;
        }
        &__precios {
            font-size: 15px;
        }
        &__box_imgs {
            height: 180px;
            padding: 5px;
        }
        &__movil_colum {
            flex-direction: column;
        }
        &__btn_agregar {
            margin-top: 15px;
        }
    }
    @media screen and(max-width: 460px) {
        &__box_imgs {
            height: 160px;
        }
    }
}