.select {
    &__bg {
        background: red;
    }
    &__title {
        font-family: gordita-regular;
        color: $secondary;
        font-size: 16px;
        text-align: center;
        margin-left: auto;
        margin-bottom: auto;
        font-weight: bold;
    }
    &__btn {
        padding: 5px 12px;
        color: $secondary;
        background: $fondo;
        border-radius: 5px;
    }
    &__btn:hover {
        color: #A3A3A3AD;
        background: #F7F7F7;
    }
    &__box-title {
        width: 100%;
        max-width: 700px;
        margin: 10px auto;
    }
    &__box {
        height: 400px;
        width: 100%;
        max-width: 700px;
        margin: 30px auto;
        overflow-y: auto;
        overflow-x: hidden;
    }
    &__imgs-box {
        height: 140px;
        width: 100%;
        max-width: 160px;
        margin: 30px;
        border: 1px solid $secondary;
        color: $secondary;
        font-family: gordita-regular;
        font-size: 14px;
    }
    &__imgs-box:nth-child(1) {
        margin-top: 10px;
    }
    &__imgs-box:nth-child(2) {
        margin-top: 10px;
    }
    &__imgs-box:nth-child(3) {
        margin-top: 10px;
    }
    &__imgs-box:hover {
        color: #CECECE;
    }
    &__imgs {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__box::-webkit-scrollbar {
        width: 8px;
    }
    &__box::-webkit-scrollbar-track {
        background: $fondo;
        border-radius: 5px;
    }
    &__box::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: #AFAFAF;
    }
    &__modal_body {
        border-radius: 15px !important;
    }
    &__fondo {
        background: rgba(199, 199, 199, 0.3) !important;
    }
    @media screen and(max-width: 991px) {
        &__imgs-box:nth-child(1) {
            margin-top: 10px;
        }
        &__imgs-box:nth-child(2) {
            margin-top: 10px;
        }
        &__imgs-box:nth-child(3) {
            margin-top: auto;
        }
    }
    @media screen and(max-width: 575px) {
        &__imgs-box:nth-child(1) {
            margin-top: 10px;
        }
        &__imgs-box:nth-child(2) {
            margin-top: 30px;
        }
        &__imgs-box:nth-child(3) {
            margin-top: 30px;
        }
        &__title {
            font-size: 15px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}