@import "_variables.scss";
@import "../layout/navbar.scss";
@import "../layout/footer.scss";
@import "../btn/btn-dolar.scss";
@font-face {
    font-family: gordita-bold;
    src: url('../../static/fonts/Gordita-Bold.otf');
}
@font-face {
    font-family: gordita-regular;
    src: url('../../static/fonts/Gordita-Regular.otf');
}
@font-face {
    font-family: segoe-ui;
    src: url('../../static/fonts/segoe-ui.otf');
}
* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}
*::selection {
    background-color: $primary;
    color: white;
}
*::-moz-selection {
    background-color: $primary;
    color: white;
}
.container__lidera {
    width: 100%;
    max-width: 1180px;
    margin: 0px auto;
    padding: 15px;
}
body.modal-open .fixed-top {
    padding-right: 0rem !important;
}