.dolar {
    &__btn {
        width: 40px;
        height: 40px;
        background: $primary;
        border-radius: 50%;
        text-align: center;
        color: white;
        z-index: 99;
        margin-bottom: 40px;
        margin-right: 15px;
        font-weight: bold;
        border: 1px solid $primary;
    }
    &__btn:hover {
        border: 1px solid $primary;
        background: white;
        color: $primary;
    }
}