.lista {
    &__bg {
        background: $fondo;
        margin-top: 70px;
    }
    &__bg_categorias {
        background: white;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &__container {
        max-width: 1080px;
    }
    &__btn {
        width: 100%;
        height: 140px;
        text-align: center;
        color: $primary;
        border: 1px solid $primary;
        border-radius: 10px;
        background: white;
        font-family: gordita-regular;
    }
    &__btn:hover {
        color: white;
        border: 1px solid $primary;
        background: $primary;
        transition: .4s all ease;
    }
    &__yeti {
        margin-top: 13px;
        font-size: 77px;
        margin-bottom: 10px;
    }
    &__font {
        font-family: gordita-regular;
        color: $secondary;
        font-weight: bold;
        font-size: 16px;
    }
    &__link {
        padding-left: 12px;
        font-family: gordita-regular;
        color: $secondary;
        border: 1px solid #E8E8E8FF;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
    }
    &__link:hover {
        color: white;
        background: $primary;
        border: 1px solid $primary;
        transition: .4s all ease;
    }
    &__link:focus {
        color: $secondary;
        border: 1px solid #E8E8E8FF;
        background: white;
    }
    &__active {
        color: white !important;
        background: $primary !important;
        border: 1px solid $primary !important;
    }
    &__group2 {
        border-bottom: 1px solid #BCBCBCFF;
    }
    &__link2 {
        background: #FCFCFC;
        color: $secondary;
        padding-left: 50px;
        border-top: 0px;
        border-bottom: 0px;
        font-family: gordita-regular;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
        z-index: 20;
    }
    &__link2:hover {
        background: #EAEAEA;
        color: #545454FF;
        transition: .4s all ease;
    }
    &__acordion {
        position: relative;
        height: 0;
        border-bottom: 0px;
        padding-bottom: 0px;
        overflow: hidden;
        transition: .35s all ease;
    }
    &__col_marca {
        flex: 0 0 25%;
        max-width: 25%;
        width: 100%;
        padding: 18px;
        padding-right: 18px;
    }
    &__col_carrusel {
        flex: 0 0 75%;
        max-width: 75%;
        width: 100%;
        padding: 0px;
        padding-top: 10px;
        padding-left: 20px;
    }
    &__btn-filtrar {
        padding: 5px 8px;
        background: $primary;
        color: white;
        font-stretch: bold;
        font-family: gordita-bold;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid $primary;
    }
    &__btn-filtrar:hover {
        padding: 5px 8px;
        background: transparent;
        color: $primary;
        border: 1px solid $primary;
        transition: .5s all ease;
    }
    &__show-filtrar {
        clip: rect(1px 1px 1px 1px);
        /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute;
    }
    &__box-filtrar {
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    &__show-marca-movil {
        clip: rect(1px 1px 1px 1px);
        /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute;
    }
    &__salir-x {
        font-family: gordita-regular;
        color: $secondary;
        font-size: 20px;
        padding: 1px 10px 1px 10px;
        background: $fondo;
        border-radius: 5px;
    }
    &__salir-x:hover {
        color: $secondary;
        transition: .5s all ease;
    }
    &__overflow {
        height: 600px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    @media screen and(max-width: 991px) {
        &__bg {
            width: 100vw;
        }
        &__show-marca {
            clip: rect(1px 1px 1px 1px);
            /* IE6, IE7 */
            clip: rect(1px, 1px, 1px, 1px);
            position: absolute;
        }
        &__show-marca-movil {
            clip: auto;
            /* IE6, IE7 */
            clip: auto;
            position: relative;
            position: fixed;
            transform: translateX(-500px);
            background: white;
            z-index: 10;
            transition: .5s all ease;
        }
        &__show-marca-movil-2 {
            transition: .5s all ease;
            transform: translateX(0px);
        }
        &__col_marca {
            flex: 0 0 33%;
            max-width: 33%;
            width: 100%;
            padding: 15px !important;
        }
        &__col_carrusel {
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
            padding: 0px;
        }
        &__show-filtrar {
            clip: auto;
            /* IE6, IE7 */
            clip: auto;
            position: relative;
        }
    }
    @media screen and(max-width: 767px) {
        &__col_marca {
            flex: 0 0 40%;
            max-width: 40%;
            width: 100%;
            padding: 15px !important;
        }
    }
    @media screen and(max-width: 575px) {
        &__box-filtrar {
            margin-right: 0px;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        &__box-filtrar {
            margin-right: 0px;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        &__col_marca {
            flex: 0 0 50%;
            max-width: 50%;
            width: 100%;
            padding: 15px !important;
        }
    }
    @media screen and(max-width: 475px) {
        &__col_marca {
            flex: 0 0 73%;
            max-width: 73%;
            width: 100%;
            padding: 15px !important;
        }
    }
}