.title {
    &__title {
        font-family: gordita-regular;
        font-size: 17.5px;
        color: $secondary;
        font-weight: bold;
        padding-left: 10px;
    }
    &__ver {
        font-family: gordita-regular;
        color: $primary;
        font-size: 13px;
        font-weight: bold;
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 5px;
        border-radius: 4px;
    }
    &__ver:hover {
        background: rgba(255, 214, 102, .2);
        color: #EA894CFF;
    }
    &__box {
        padding-right: 10px;
    }
    @media screen and(max-width: 575px) {
        &__title {
            padding-left: 0px;
        }
        &__box {
            padding-right: 0px;
        }
    }
}