@import '../main/main.scss';
.recibido {
    &__bg {
        margin-top: 70px;
        padding-top: 10px;
        background: #EFEFEF;
        min-height: 600px;
        padding-bottom: 20px;
    }
    &__container {
        max-width: 450px;
    }
    &__subtitle_orange {
        font-family: gordita-regular;
        color: $primary;
        margin-top: 0px;
        font-weight: bold;
        font-size: 15.5px;
    }
    &__line_orange {
        border: 1px solid $primary;
        opacity: .5;
    }
    &__title {
        font-size: 25px;
        font-family: gordita-regular;
        font-weight: bold;
        color: $secondary;
    }
    &__subtitle {
        margin-bottom: 5px;
        font-family: gordita-regular;
        font-weight: bold;
        font-size: 18px;
        color: $secondary;
    }
    &__subtitle_precio {
        font-size: 15px;
        color: $primary;
        font-weight: bold;
        font-family: gordita-regular;
    }
    &__productos_font {
        font-size: 12px;
        color: $secondary;
        font-family: gordita-regular;
        font-weight: bolder;
        padding-top: 3px;
        padding-bottom: 3px;
        line-height: normal;
        margin-bottom: 0px;
    }
    &__box_precio {
        min-height: 350px;
        padding: 20px;
    }
    &__radius {
        border-radius: 7px !important;
        box-shadow: 0px 2px 3px 1px rgba(186, 186, 186, .9) !important;
    }
    &__precios-text {
        margin-top: 6px;
        margin-bottom: 6px;
        line-height: normal;
        color: $secondary;
        font-size: 18px;
        font-weight: bold;
        font-family: gordita-regular;
    }
    &__line_gris {
        border: 1px solid $secondary;
        opacity: 0.4;
    }
    &__text_iva {
        font-size: 11px;
        color: $primary;
        font-family: gordita-regular;
        font-weight: bold;
        margin-bottom: 17px;
        margin-top: 10px;
    }
    &__btn_regresar {
        padding: 5px 35px;
        background: $primary;
        border: 1px solid $primary;
        font-family: gordita-regular;
        color: white;
        border-radius: 5px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        font-size: 15px;
    }
    &__btn_regresar:hover {
        background: white;
        border: 1px solid $primary;
        color: $primary;
    }
    @media screen and(max-width: 767px) {
        &__subtitle {
            margin-top: 20px;
            margin-bottom: 16px;
        }
        &__container {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    @media screen and(max-width: 575px) {
        &__title {
            font-size: 23px;
            font-family: gordita-regular;
            font-weight: bold;
            color: $secondary;
        }
        &__subtitle {
            margin-bottom: 5px;
            font-family: gordita-regular;
            font-weight: bold;
            font-size: 17px;
            color: $secondary;
        }
    }
}