@import '../main/main.scss';
.finalizado {
    &__bg {
        margin-top: 70px;
        padding-top: 20px;
        background: #EFEFEF;
        min-height: 600px;
        padding-bottom: 70px;
    }
    &__container {
        max-width: 1080px;
    }
    &__label {
        color: #707070FF;
        font-family: gordita-regular;
        margin-bottom: 0px;
        margin-top: 8px;
        font-size: 15px;
        font-weight: 500;
    }
    &__subtitle {
        margin-bottom: 5px;
        font-family: gordita-regular;
        font-weight: bold;
        font-size: 18px;
        color: $secondary;
    }
    &__title {
        font-size: 25px;
        font-family: gordita-regular;
        font-weight: bold;
        color: $secondary;
    }
    &__input {
        border-radius: 7px !important;
        box-shadow: 0px 2px 2px 0px rgba(186, 186, 186, .9) !important;
    }
    &__line_orange {
        border: 1px solid $primary;
        opacity: .5;
    }
    &__input_cupon {
        border-top-left-radius: 7px !important;
        border-bottom-left-radius: 7px !important;
        box-shadow: 0px 2px 2px 0px rgba(186, 186, 186, .9) !important;
    }
    &__input_canjear {
        border-top-right-radius: 7px !important;
        border-bottom-right-radius: 7px !important;
        box-shadow: 0px 2px 2px 0px rgba(186, 186, 186, .9) !important;
        border-left: none;
        color: white !important;
        background-color: $primary !important;
        text-transform: none;
        font-size: 15px !important;
        font-family: gordita-regular;
    } //de aqui puede salir el recibo
    &__subtitle_precio {
        font-size: 15px;
        color: $primary;
        font-weight: bold;
        font-family: gordita-regular;
    }
    &__productos_font {
        font-size: 12px;
        color: $secondary;
        font-family: gordita-regular;
        font-weight: bolder;
        padding-top: 3px;
        padding-bottom: 3px;
        line-height: normal;
        margin-bottom: 0px;
    }
    &__box_precio {
        min-height: 450px;
        padding: 20px;
    }
    &__radius {
        border-radius: 7px !important;
        box-shadow: 0px 2px 3px 1px rgba(186, 186, 186, .9) !important;
    }
    &__precios-text {
        margin-top: 6px;
        margin-bottom: 6px;
        line-height: normal;
        color: $secondary;
        font-size: 18px;
        font-weight: bold;
        font-family: gordita-regular;
    }
    &__line_gris {
        border: 1px solid $secondary;
        opacity: 0.4;
    }
    &__text_iva {
        font-size: 11px;
        color: $primary;
        font-family: gordita-regular;
        font-weight: bold;
        margin-bottom: 17px;
        margin-top: 10px;
    }
    &__btn_guardar {
        padding: 5px 10px;
        background: $primary;
        border: 1px solid $primary;
        font-family: gordita-regular;
        color: white;
        border-radius: 5px;
        display: block;
        text-align: center;
        margin-right: 35px;
        margin-left: 35px;
        font-size: 15px;
    }
    &__btn_guardar:hover {
        background: white;
        border: 1px solid $primary;
        color: $primary;
    }
    &__overflow {
        overflow-y: auto;
        height: 165px;
    }
    &__overflow::-webkit-scrollbar {
        width: 8px;
    }
    &__overflow::-webkit-scrollbar-track {
        background: $fondo;
        border-radius: 5px;
    }
    &__overflow::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: #AFAFAF;
    }
    @media screen and(max-width: 767px) {
        &__subtitle {
            margin-top: 20px;
            margin-bottom: 16px;
        }
        &__container {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: $primary;
    outline: 0;
}