.item {
    &__bg {
        background: #EFEFEF;
    }
    &__container {
        max-width: 1080px;
        padding-top: 40px;
    }
    &__col {
        flex: 0 0 20%;
        width: 20%;
        padding: 10px;
    }
    &__box-article {
        height: 180px; // width: 180px;
        background: white;
        border: 1px solid #CECECEEF;
        font-size: 76px;
        z-index: 10;
    }
    &__box-article:hover {
        background: $primary;
        color: white;
        transition: .5s all ease;
    }
    &__box-article:hover>&__font-icon {
        color: white;
        transition: .5s all ease;
    }
    &__box-article:hover>&__subtitle {
        color: white;
        transition: .5s all ease;
    }
    &__font-icon {
        color: $primary;
        margin-top: 40px;
        margin-top: 10px;
        z-index: 10;
    }
    &__subtitle {
        font-family: gordita-regular;
        color: $secondary;
        z-index: 10;
    }
    @media screen and(max-width: 991px) {
        &__col {
            flex: 0 0 25%;
            width: 25%;
            padding: 10px;
        }
        &__bg {
            width: 100vw;
            background: #EFEFEF;
        }
    }
    @media screen and(max-width: 768px) {
        &__col {
            flex: 0 0 33%;
            width: 33%;
            padding: 10px;
        }
    }
    @media screen and(max-width: 576px) {
        &__col {
            flex: 0 0 50%;
            max-width: 50%;
        }
        &__col:nth-child(1) {
            padding-left: 0px;
        }
        &__col:nth-child(2) {
            padding-right: 0px;
        }
        &__col:nth-child(3) {
            padding-left: 0px;
        }
        &__col:nth-child(4) {
            padding-right: 0px;
        }
        &__col:nth-child(5) {
            padding-left: 0px;
        }
        &__col:nth-child(6) {
            padding-right: 0px;
        }
        &__col:nth-child(7) {
            padding-left: 0px;
        }
        &__col:nth-child(8) {
            padding-right: 0px;
        }
        &__col:nth-child(9) {
            padding-left: 0px;
        }
        &__col:nth-child(10) {
            padding-right: 0px;
        }
    }
    @media screen and(max-width: 484px) {
        &__subtitle {
            font-size: 14px;
        }
        &__box-article {
            height: 140px;
            font-size: 50px;
        }
    }
}